* {
	font-family: 'Open Sans', sans-serif;
}

header, footer {
	height: 60px;
	background-color: #3C517F;
	color: white;
	border: 1px solid black;
}

body {	
	background-image: url("./site>Pattern.png");
}

main {
	margin-top: 80px;
	margin-bottom: 20px;
}

.position-fixed {
	position: fixed;
    top: 0;
    width: 100%;
}

.link-no-style {
	text-decoration: none;
	color: inherit;
}

#logo-title {
	font-family: 'Lato', sans-serif;
}

.p-base {
	width: 650px;
	text-align: justify;
}

.base-card {
	padding: 30px;
    margin: 20px;
    -webkit-box-shadow: 1px 6px 3px 2px #3C517F;
	-moz-box-shadow: 1px 6px 3px 2px #3C517F;
	box-shadow: 0px 5px 25px 6px #3C517F;
	background-image: url("./cardPattern.png");
	border: 1px solid #3C517F;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 90%;
}

.image-container {
	width: 50%;
}

.image-container>img {
	max-width: 100%;
	height: auto;
}

.rounded-image {
	border-radius: 8px;
}

.flex-base {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-row-alternate {
	flex-direction: row-reverse;
}

.flex-center {
	align-items: center;	
}

.flex-column {
	flex-direction: column;
}

.menu-buttons>li, .footer-buttons>li {
	padding-left: 10px;
	padding-right: 10px;
}

.menu-buttons>li>a, .footer-buttons>li>a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}

.menu-buttons>li>a:hover, .footer-buttons>li>a:hover {
    background-color: #77A1FF;
    color: #3C517F;
}

}.menu-buttons>li>a, .footer-buttons>li>a {
    padding-left: 10px;
    padding-right: 10px;
}


ul.flex-center {
	width: 300px;
}

.no-padding-margin {
	margin: 0;
	padding: 0;
}

.list-no-style {
	list-style: none;
}

